div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.searchbox {
  float: right;
  input {
    margin-left: 2px;
    
  }

  li {
    max-width: 160px;
    padding: 5px;
  }


}
