div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.icon-footer {
  margin-bottom: 10px;
}

.header-container {
  margin-left: 30px;
  margin-right: 50px;
}
.searchbox {
  float: right;
  input {
    margin-left: 2px;

  }
  li:first-child {
    margin-top: 5px;
    
  }

  li {
    max-width: 160px;
    padding: 5px;
  }


}
