div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.icon-footer {
  margin-bottom: 10px;
}

.searchbox {
  float: right;
  input {
    margin-left: 2px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
  }
  li:first-child {
    margin-top: 5px;
    
  }

  li {
    max-width: 160px;
    padding: 5px;
  }


}

