* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

.jumbotron{

//    @extend .rounded;
//    @extend .px-3;
//    @extend .px-sm-4;
//    @extend .py-3;
//    @extend .py-sm-5;
}

@import 'theme.scss';
