@import 'theme.scss';
@import 'revealer.scss';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}


#bc-header {

    margin-top: 5px;
    margin-bottom: 10px;
    background-color: $md-secondary-color;


}



