@import 'theme.scss';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

.jumbotron{
    padding-top: 50px;
    background-color: $md-jumbotron;
    border-radius: 25px;
    margin-bottom: 10px;

//    @extend .rounded;
//    @extend .px-3;
//    @extend .px-sm-4;
//    @extend .py-3;
//    @extend .py-sm-5;
}

